[submodule "d3d_signals"]
	path = d3d_signals
	url = https://github.com/PlasmaControl/d3d_signals
[submodule "d3d_loaders/d3d_signals"]
	path = d3d_loaders/d3d_signals
	url = https://github.com/PlasmaControl/d3d_signals
